#login{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;    
}

#login>img{
width:50px;
height:50px
}
#login-button{
margin-top: 10px;
}
#login>input{
height:30px;
width:80%
}

#login-button>button{
height:40px;
width:80px;
background-color:rgb(249, 165, 8);
border-radius: 10px;
}
#register-page{
display: flex;

}
#register-page>div{
margin:10px
}