#nav{
    width: 100%;
    height: 120px;
    /* border: 3px solid black; */
    display: flex;
    background-color: rgb(7, 37, 128);
    
}
#logo{
  width: 20%;
  height: 50px;
  /* border: 2px solid black; */
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
#logo >#logoimg img{
    width: 100%;
    height: 100px;
}


#bar{
    width: 30%;
    height: 70px;
    /* border: 2px solid blue; */
    margin-right: 50px;
    align-items: center;
    margin-top: 15px;
    display: flex;
    font-size: 10px;
    justify-content: space-evenly;
}
#bar :nth-child(1){
    /* background-color: whitesmoke; */
    width:150px;
    height:50px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color:rgb(7, 37, 128);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
    cursor: pointer;
   
    

}
#bar :nth-child(2){
    width:150px;
    height:50px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
 background-color:rgb(7, 37, 128);
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
   
    /* text-decoration: none; */


}
#navbottom{
    width:60%;
    height:80px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right:20px;
    background-color:rgb(7, 37, 128);
    
    
 }
 a{
  color: #f9f9f9;
  text-shadow: 2px 2px 4px #000000;
 }


#dropdown {
   position: relative;
   display: inline-block;
 }
 
 #dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   margin-top: 100px;
   text-align: center;
   z-index: 1;
 }
 
 #dropdown:hover #dropdown-content {
   display: block;
 }
 #dropdown>span{
   font-size: 20px;
 }
 


 /*nav completet here*/
 #next{
  margin: auto;
  width:100%;
  display:flex;
  margin-top: 20px;
 }
 #next>div{
  width:40%;
  height:300px;
  margin:auto
 }
 #next>div>img{
  width:90%;
  height:300px

 }
 
 /*next completet here*/
 #pic{
  margin-left: 70px;
  width: 40%;
  height: 400px;
  /* border: 2px solid red; */
 
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  

 }

#pic>div{
  width: 250px;
height: 340px;
/* border: 2px solid blue; */
margin: auto;
border-radius:10px;
background-color: blue;
}

 #pic>div>img{
  width: 230px;
  height: 250px;
  cursor: pointer;
  
  border-radius:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  
 }
 /*next2 start from here*/
 #next2{
  margin-left: 120px;
  width: 1200px;
  height: 320px;
  border-radius: 20px;
  border: 2px solid black ;

 }
 #next2>h1{
  margin-left: 50px;
 }
 #nexttwo{
  
  width: 1200px;
  height: 230px;
  
  /* border: 2px solid red; */
    display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;
 
  
 }
 #nexttwo>div{
  width: 150px;
height: 220px;
/* border: 2px solid blue; */
margin: auto;
border-radius:10px;
background-color: rgb(233, 233, 245);
text-align: center;

}
#nexttwo>div>img{
  width: 130px;
  height: 80px;
  cursor: pointer;
border-radius:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  
 }
 #nexttwo>div>button{
  background-color: red;
  border-radius: 20px;
 }
 /*next2 finish here*/

 /*trend start*/
 #trend{
  width: 1200px;
  height: 320px;
  border-radius: 20px;
  margin-left: 120px;
  }
 #tc{
  width: 1200px;
  height: 200px;

  /* border: 2px solid red; */
    display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
 
 }
 #tc>div{
  width: 330px;
height: 350px;
/* border: 2px solid blue; */
margin: auto;
border-radius:10px;
border: 1px solid black;

text-align: center;

 }
 #tc>div>img{
  width: 330px;
  height: 200px;
  cursor: pointer;
border-radius:10px;
  
 }
 #trend>h1{
  margin-left: 20px;
 }
 /*trend complete here*/
 #new{
  width: 1200px;
  height: 400px;
  margin-top:120px;
  margin-left: 120px;

  /* border: 2px solid red; */
    display:flex;
    background-color: rgb(221, 249, 249);
    justify-content: space-between;
  

 }
 #fir{
  width:250px;
  height:320px;
  margin-left:10px;
  margin-top: 10px;

 }
 #fir>img{
  width:250px;
  height:330px
 }
 #sec{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-top: 55px;
  }
  #sec>div{
    width:280px;
    height:320px;
  }
  #sec>div>img{
    width:250px;
    height:240px;
    text-align: center;
  }
  /*new finish here*/

  #enjoy{
    width: 1200px;
    height: 500px;
margin-left: 140px;
margin-top: 40px;
  }
  #enjoy1{
    width:1200px;
    height:500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top:20px;

  }
  #enjoy1>div{
    width:400px;
    height:450px;
  }
  #enjoy1>div>img{
    width:350px;
    height:400px;

  }
  /*enjoy ended*/
  /*best started*/
  #bestseller{
    width: 1200px;
    height: 500px;
margin-left: 140px;
margin-top: 40px;
}
#best{
  width:1200px;
  height:500px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-top:20px;

}
#best>div{
  width:300px;
  height:450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  border-radius: 20px;
}
#best>div>img{
  width:230px;
    height:250px;
}
#best>div>button{
  background-color: red;
  border-radius: 5px;
  color: #f9f9f9;
}
 
.fa{
  font-size: 20px;
}
/*best completed here*/
#slideshow{
  width:1200px;
  height:300px;
  margin-left: 120px;
  margin-top: 50px;
}
#slideshow>img{
  margin-top: 50px;
  width:1250px
}
/*slideshow end*/
#recommened{
  margin-left: 120px;
  width: 1200px;
  height: 350px;
  

}
#recommened >h2{
margin-left: 20px;
}
#recom{
  width: 1200px;
  height: 330px;
  
  /* border: 2px solid red; */
    display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 10px;

}
#recom>div{
  width: 120px;
height: 270px;
/* border: 2px solid blue; */
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

border-radius:10px;

text-align: center;

}
#recom>div>img{
  width: 100px;
  height: 80px;
  cursor: pointer;
border-radius:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

}
/*recommenede*/

.final{
  width:100%;
  height: 380px;
  /* border: 5px solid blue; */
  display: flex;
  color: white;
  background-color: rgb(15,52,108); 
  justify-content: space-between;
}
.fcard{
 
  width: 70%;
  padding-left: 25px;
  height: 360px;
  /* border: 2px solid pink; */
  margin: auto;
  /* cursor: pointer; */

 
 
}
.theend{
  width: 100%;
  height: 350px;
  /* border: 2px solid pink; */
  margin: auto;
 background-color: rgb(15,52,108); 
}
.theendcard{
width: 600px;
height: 350px;
/* border: 2px solid green; */
margin: auto;
}
.lastcard{
margin: auto;
/* border: 5px solid blue; */
padding-left: 200px;
cursor: pointer;
}
.lastcard img{
width: 190px;
height: 100px;
padding-left: 22px;
}
.lastcard1 :nth-child(2){
width: 240px;
padding-left: 25px;
cursor: pointer;


}
.lastcard1 :nth-child(1){
width: 218px;
padding-left: 80px;
cursor: pointer;


}
.lastcard1 p{
text-align: center;
padding-right: 45px;
color: white;
}

.foot{
font-size: medium;
cursor: pointer; 
}
.foot1{
font-size: medium;
color: white;
}
.foot:hover{
color: rgb(2, 231, 48);
color: rgb(241, 103, 11);
}
.navtxt{
text-decoration: none;
font-size: medium;
}

/* footer css completes here  */
